body {
  background-color: black;
  width: 960px;
  height: 540px;
}

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.row {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.row div {
  height: 100%;
  padding: 0px;
}

.table {
  height: 100%;
  margin: 0px;
}

.table > :not(caption) > * > * {
  padding: 0px 0px 1px 0px;
}

#pizzas_left {
  border-right: 1px solid white;
}

thead tr th {
  text-align: center;
  border-bottom: 0px;
}

thead tr th:nth-child(2),
thead tr th:nth-child(3) {
  background-color: #d20c16;
  border-right: 1px solid white;
}

thead tr th:nth-child(4) {
  background-color: #d20c16;
}

.title {
  font-size: 1.1rem;
  vertical-align: bottom;
  padding-left: 5px !important;
}

.price {
  font-size: 0.9rem;
}

.ingridients {
  font-size: 0.9rem;
}

.ingridients td {
  padding-left: 2px;
}
