body {
    background-color: black;
    font-size: 10px;
}

.container-fluid {
    padding: 0;
}

.table {
    height: 100%;
}

tbody tr:nth-child(4) {
    height: 50px;
}

#pizzas_left {
    border-right: 2px solid white;
}